__pycache__/
.DS_Store
/.vscode/
/.idea/
/configs/
*.egg-info/
/user/
/.pai_config
/.git_version
/.test_meta
/.coverage*
!/.coveragerc
/command_history.txt
dist/
build/
pretrained_models/
download.sh
xdpx/utils/thirdparty/fastPalm/
/qiming_file/
scripts/tmp.py
bak/